<main class="main">
  <div class="px-4 pt-4 bg-[url('/assets/bg-image.svg')] h-[100vh] bg-no-repeat bg-contain">
    <div class="flex justify-between items-center">
      <div><span class="cursor-pointer text-2xl">Resontor</span><sup>&reg;</sup></div>
      <div class="flex items-center space-x-6">
        <a href="">Home</a>
        <a href="">Pages</a>
        <a href="">Podcast</a>
        <a href="">Blog</a>
        <a href="">Shop</a>
      </div>
      <div class="flex items-center space-x-6">
        <div class="flex items-center space-x-2">
          <span><ng-icon name="bootstrapSearch"></ng-icon></span>
          <span>search</span>
        </div>
        <div><ng-icon name="bootstrapGrid3x3Gap"></ng-icon></div>
      </div>
    </div>
  </div>
</main>



<router-outlet></router-outlet>
