<div class="flex items-center shadow-md rounded-lg bg-white">
  <div class="relative">
    <div><img [src]="image.src" [alt]="image.title"></div>
    <div class="bg-white rounded-md absolute right-2 top-3 w-6 text-center"><ng-icon name="bootstrapHeadphones" class=""></ng-icon></div>
  </div>
  <div class="pl-6 pr-3">
    <div><span>Episode 7</span><span>.</span><span>Technology</span></div>
    <div class="underline font-bold text-2xl mt-2 mb-6">SRKP selects: open mind easy</div>
    <div class="flex items-center space-x-2 font-medium">
      <span>Episode</span>
      <ng-icon name="bootstrapArrowRight"></ng-icon>
    </div>
  </div>
</div>
